body, div {
	padding: 0;
	margin: 0;
}

#mainContainer {
	width: 100%;
	height: 100%;
}

.carousel-container {
	width: 100%;
	height: 40%;
	display: flex;
	display: -webkit-flex;
	background-color: black;
}

#rightImage {
	height: 100%;
	width: 15%;
	background-image: url("../images/landscape.jpeg");
	background-size: 100% 100%;
	opacity: 0.3;
}

#leftImage {
	height: 100%;
	width: 15%;
	background-image: url("../images/free2.jpg");
	background-size: 100% 100%;
	opacity: 0.3;
}

#centerImage {
	position: relative;
	height: 100%;
	width: 70%;
	background-image: url("../images/free.jpg");
	background-size: 100% 100%;
}

#transitionButton {
	position: absolute;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	bottom: 60%;
}

#transitionButton > button:hover {
	cursor: pointer;
}

#rightTransition {
	position: absolute;
	opacity: 0.7;
	border-radius: 2rem;
	right: 0;
}

#leftTransition {
	position: absolute;
	opacity: 0.7;
	border-radius: 2rem;
}

#lowerContainer {
	width: 100%;
	height: 70%;
}

#buttonContainer {
	width: 70%;
	height: 100%;
	margin: auto;
	padding-top: 5%;
}

.button-format {
	width: 100%;
	text-align: center;
	padding: 3% 0 3% 0;
}

.button-format > button {
	width: 20%;
	height: 10%;
	overflow: auto;
	text-align: center;
	font-family: 'Arial Black', arial, serif;
	font-size: 1rem;
}

.button-format > button:hover {
	cursor: pointer;
	color: blue;
}