body {
	background-color: #ddd;
}

input {
	width: 200px;
	border: 1px solid black;
	border-radius: 0.5rem;
	height: 2rem;
}

#signIn {
	float: right;
	margin-left: 5px;
}

#username {
	float: right;
	margin: 3px 5px 0 0;
}

#password {
	float: right;
	margin: 3px 5px 0 0;
}

.jumbotron {
	background-image: url('../IMG/9728.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 0;
	color: white;
	font-style: bold;
	height: 40%;
}

.jumbotron > .container > h1 {
	text-shadow:
		2px 2px black,
		-2px 2px black,
		2px -2px black,
		-2px -2px black !important;
}

#newUser {
	margin-top: 3% 0 -20px 0;
	font-size: 1.3rem;
}

.container {
	text-align: center;
}

.left-align {
	text-align: left;
}

#resume {
	padding-top: 15px;
	background-color: #ddd;
}

.text-container {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.error {
	display: none;
	color: red;
}
<<<<<<< HEAD

#footer {
  padding-left: 5%;
  width: 100%;
  bottom: 0;
  height: 120px;
}

#footer > h1 {
  padding-top: 30px;
  text-align: left;
}
=======
>>>>>>> 55bd6fc55c29a63b33e5ad2e7b4a738f9dfe6171
