.navbar-static-top {
	border-radius: 0;
}

div, ul, nav {
  padding: 0;
  margin: 0;
}

.my-right {
  position: relative;
  float: right;
  width: 80%;
  padding: 0;
  margin: 0;
}

.nav-formatter {
  display: flex;
  display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
  width: 100%;
  height: 100%;
}

.left-nav {
  width: 20%;
  height: 100%;
  background-color:  #000066;
}

.nav-list {
	padding: 0;
  list-style: none;
  position: fixed;
  width: 20%;
}

.nav-element {
  position: static;
  height: 30px;
  width: 100%;
  border: 2px solid white;
}

.navbar-fixed-top {
	padding: 0;
}

#logoDiv {
	height: 18%;
	width: 100%;
<<<<<<< HEAD
	border-bottom: 1px solid #D5D5D5;
	overflow: hidden;
	text-align: center;
=======
	background-color: #ddd;
	border-bottom: 3px solid white;
	overflow: hidden;
>>>>>>> 55bd6fc55c29a63b33e5ad2e7b4a738f9dfe6171
}

.nav-div {
	height: 18%;
	width: 100%;
<<<<<<< HEAD
	border-bottom: 1px solid #D5D5D5;
=======
	border-bottom: 1px solid white;
>>>>>>> 55bd6fc55c29a63b33e5ad2e7b4a738f9dfe6171
	overflow: hidden;
}

.nav-div:hover {
	cursor: pointer;
}

.nav-link {
	color: black;
}

.nav-link:hover {
	color: navy;
}

.nav-div > p {
	text-align: center;
	margin-top: 8%;
}

.nav-div > p > a {
	font-size: 1.5rem;
}
