body, div {
	margin: 0;
	padding: 0;
	font-family: 'Arial Black', arial, serif;
	background-color: #ddd;
}

input {
	margin-left: 60%;
	height: 5%;
	width: 40%;
	margin-top: -2%;
	background-color: #ddd;
	color: #1E88E5;
	font-size: 1.2rem;
}

#mainContainer {
	width: 100%;
	height: 100%;
}

#topOfPage {
	display: flex;
	-webkit-display: flex; /*for safari*/
	width: 100%;
	height: 15%;
	border-bottom: solid 2px grey;
	background-color: #1E88E5;
	align-items: center;
	overflow: auto;
	text-indent: 5%;
}

#topOfPage > h1 {
	color: white;
	width: 100%;
}

form {
	width: 60%;
	margin-top: 5%;
	margin-left: 20%;
}

fieldset {
	margin: 2% 0 0 0;
}

#submitButton {
	margin-top: 2%;
	font-size: 1rem;
	font-family: 'Arial Black', arial, serif;
	background-color: #1E88E5;
	border-radius: 0.5rem;
	border-bottom: solid 2px black;
	border-right: solid 1px black;
	color: white;
}

#submitButton:hover {
	cursor: pointer;
	border-bottom: solid 2px #ddd;
	border-right: solid 1px #ddd;
	color: black;
}
