body, div {
	margin: 0;
	padding: 0;
	font-family: 'Arial Black', arial, serif;
}

input {
	margin-left: 60%;
	height: 5%;
	width: 40%;
	margin-top: -2%;
}

#mainContainer {
	width: 100%;
	height: 100%;
}

#topOfPage {
	width: 100%;
	height: 15%;
	border-bottom: solid 2px grey;
	background-color: #61b8e8;
	text-align: center;
}

#topOfPage > h1 {
	padding-top: 1.5%;
	color: white;
	font-size: 2.5rem;
}

form {
	width: 60%;
	margin-top: 10%;
	margin-left: 20%;
}

fieldset {
	margin: 2% 0 0 0;
}

#submitButton {
	margin-top: 2%;
	font-size: 1rem;
	font-family: 'Arial Black', arial, serif;
}

#submitButton:hover {
	cursor: pointer;
	border-bottom: solid 2px white;
	border-right: solid 1px white;
}